<div class="logo" [class.active]="sections.activeSection == 'intro'">
  <a href="#intro">
    <img src="assets/logo.svg" />
  </a>
</div>

<ul class="navlinks">
  <li [class.active]="sections.activeSection == 'aesthetics'">
    <span class="between">|</span>
    <a (click)="toggleNav()" (click)="goToSection('aesthetics')">Aesthetics</a>
  </li>
  <li [class.active]="sections.activeSection == 'acoustics'">
    <span class="between">|</span>
    <a (click)="toggleNav()" (click)="goToSection('acoustics')">Acoustics</a>
  </li>
  <li [class.active]="sections.activeSection == 'tailor-made'">
    <span class="between">|</span>
    <a (click)="toggleNav()" (click)="goToSection('tailor-made')"
      >Tailor-Made</a
    >
  </li>
  <li [class.active]="sections.activeSection == 'contact'">
    <span class="between">|</span>
    <a (click)="toggleNav()" (click)="goToSection('contact')">Contact</a>
  </li>
</ul>

<div class="nav-toggle" (click)="toggleNav()">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>
