@import "./variables.less";

html {
  scroll-behavior: smooth;
}

body {
  background: black;

  font-family: "Graphik Light", sans-serif;
  margin: 0px;
}

h1 {
  font-family: "Graphik Light", sans-serif;
  strong {
    font-family: "Riviera Regular", sans-serif;
  }
  margin-top: 0;
}

.placeholder,
input,
textarea,
button,
label {
  font-family: "Riviera Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li,
div,
* {
  color: white;
}

h1 {
  font-size: 3vw;
  font-weight: 100;
  text-transform: uppercase;
}

h3 {
  font-weight: 100;
  font-size: 2.5vw;
  line-height: 1.4;
}

p,
span {
  line-height: 1.2;
  font-size: 2vw;
}

img {
  width: 100%;
}

.relative {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-title {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  z-index: 1;
  pointer-events: none;
  margin-top: 8vw;
  font-family: "Riviera Regular", sans-serif;

  h1 {
    font-weight: 600;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: @size-md) {
  .section-title {
    top: 3rem;
  }
}

.background-fade-right {
  background: #000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%);
}
.background-fade-left {
  background: #000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
}
.background-fade-left-2 {
  background: #000;
  background: linear-gradient(90deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
}
.background-fade-top {
  background: #000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%
  );
}

.background-fade-bottom-light {
  background: #000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  );
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  overflow: unset;
  top: 0;
}

.spacer {
  width: 100%;
  height: 8vw;
  /* background: grey; */
  /* border: 0.5px dotted white; */
}

@media screen and (max-width: @size-md) {
  .spacer {
    height: 2rem;
  }
}

.height-1vp {
  height: 100vh;
}

.text-left {
  text-align: left;
  padding-left: 8px;
}
.text-right {
  text-align: right;
  padding-right: 8px;
}
.padding-left {
  padding-left: 10vw;
}
.padding-right {
  padding-right: 10vw;
}

@media screen and (max-width: @size-md) {
  .padding-left,
  .padding-right {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.columns {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 25%;
  * {
    flex: 1 0 28%;
  }
}

img.brand-logo {
  height: 10vw;
  width: auto;
  object-fit: contain;
  cursor: pointer;
}

@media screen and (max-width: @size-md) {
  img.brand-logo {
    height: 6rem;
  }
}

img.logo-wrap {
  height: 6vw;
  width: 20%;
  max-width: 16vw;
  -o-object-fit: contain;
  object-fit: contain;
  background: white;
  padding: 1vw;
  border-radius: 3vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.circle {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  border: 1px solid white;
  box-sizing: border-box;
  padding: 4px;
  margin-right: 1vw;
  margin-top: 0.4vw;
  margin-left: 0.5vw;

  .circle-inner {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

@media screen and (max-width: @size-md) {
  .circle {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.7rem;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
  }
}

.hover-fx {
  transition: filter 0.4s ease-out, transform 0.4s ease-out,
    box-shadow 0.4s ease-out;
  filter: brightness(0.7);
  transform: scale(1) translateY(0);
  // box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
}
.hover-fx:hover {
  filter: brightness(1);
  transform: scale(1) translateY(-2px);
  // box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: @size-md) {
  h1 {
    font-size: 2.2rem;
    font-weight: 100;
    text-transform: uppercase;
  }

  h3 {
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 1.4;
  }

  p,
  span {
    line-height: 1.5;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: @size-md) {
  .columns {
    display: block;
    position: relative;
  }
}

@media screen and (max-width: @size-md) {
  section {
    padding-top: 3rem;
  }
}

@media screen and (max-width: @size-md) {
  .mobile-hide {
    display: none !important;
  }
}
