<div id="nav-placeholder" style="height:3rem;"></div>

<div
  id="main"
  imagesLoaded
  (progress)="imagesLoadProgress($event)"
  (complete)="imagesLoadComplete($event)"
>
  <section id="intro">
    <div class="columns">
      <div class="left">
        <img
          #image
          src="assets/KRU_S1A6539-be_1.jpg"
          alt=""
          style="width: 150%; margin-top: -85%; margin-bottom: -15%;"
        />
      </div>
      <div class="right background-fade-right">
        <div class="text-left relative" style="padding-top: 22vw;">
          <h1>
            Finally a speaker<br />
            that looks as perfect<br />
            <strong>as it sounds.</strong>
          </h1>
          <h3 style="padding-top: 12vw;">
            The masterclass in <br />
            German acoustic design.
          </h3>
        </div>
      </div>
    </div>
  </section>

  <div class="spacer"></div>

  <section id="aesthetics" class="relative">
    <div class="section-title fade-in" scrollFx>
      <h1>Aesthetics</h1>
    </div>
    <div id="aesthetics-1">
      <div class="left" style="width: 50%; float: left; height: 256vh;">
        <div style="height: 120vh;" class="relative" scrollFx ratio="0.7">
          <h3
            class="text-right padding-left slide-up"
            style="z-index: -1; padding-top: 4vw;"
            ratio="0.8"
          >
            “I have always dreamed of a speaker that blends sensual aesthetics
            and revolutionary acoustic technology – but I simply couldn’t find
            it. So I decided to design it myself.”<br />
            — Thilo Baum
          </h3>
        </div>
        <div class="spacer"></div>

        <div style="height: 120vh;" class="relative" scrollFx ratio="0.7">
          <div class="text-left padding-left slide-up">
            <h1>
              Redefining <br />
              sensual pleasure <br />
              <strong>— Thilo Baum</strong>
            </h1>
            <h3 style="color: lightcoral;">
              "Diesen Text hab ich nicht, taucht nur in animations pdf auf...
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua."<br />
              — Thilo Baum
            </h3>
          </div> 
        </div>
        <div class="spacer"></div>
      </div>
      <div
        class="sticky relative"
        style="overflow:hidden; float: right; width: 50%; height: 100%;"
      >
        <img
          #image
          src="assets/KRU_S1A2233-be_1.jpg"
          alt=""
          style="width: 130%; margin-top: -26%; margin-left: -10%;"
        />
      </div>
      <div style="height: 256vh;"></div>
    </div>
    <div class="spacer"></div>
    <div id="aesthetics-2">
      <div class="columns">
        <div class="relative text-left padding-left">
          <h1 scrollFx ratio=".5" class="scrollFX fade-in">
            PERFECTION <br />
            IS CONSISTENT – <br />
            <strong>THILO BAUM</strong>
          </h1>
          <p scrollFx ratio=".5" class="scrollFX fade-in delay-1">
            As a German born and raised Arts & Crafts designer Thilo Baum’s
            holistic approach already captivated the top creatives of several
            influential automotive brands like Bugatti, Mercedes-Benz or
            Porsche. His absolute focus on what is truly essential and his
            passionate vision for a better world are creating an unrivaled
            precise combination of timeless elegance and masterful craftsmanship
          </p>
        </div>
        <div style="overflow: hidden; width: 100%;">
          <img
            #image
            scrollFx
            ratio=".9"
            class="fade-in"
            src="assets/KRU_S1A2207-be_1.jpg"
            style="width: 112%; margin-left: -4%;"
          />
        </div>
      </div>
    </div>
    <div id="aesthetics-3">
      <div class="columns background-fade-bottom-light">
        <div class="left relative" style="height: 100vh;">
          <h3 class="center padding-left" style="text-align: center; color: lightcoral;">
            rotating pictures missing
          </h3>
        </div>
        <div class="right relative">
          <div class="center text-left padding-right">
            <h1 scrollFx class="fade-in delay-1">
              <strong>K1 LIMITED EDITION</strong> – <br />
              SOUND AND DESIGN <br />
              MERGED IN PERFECTION.
            </h1>
            <p scrollFx class="fade-in delay-2">
              Revolutionary acoustic technology and visionary design are
              blending inspired by the perfect elegance of nature. First-class
              materials and the uncompromising realization of every detail are
              making this a true masterpiece of German acoustic design – and the
              only speaker that utilizes an innovative process, allowing it to
              be made entirely out of exquisite wood.
              <br>
              <span style="color: lightcoral;">
                Was ist der 'Aufblätter-Effekt', IphoneXS seite ist offline
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="acoustics" class="relative">
    <div class="section-title fade-in" scrollFx>
      <h1>Acoustics</h1>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="columns">
      <div class="left text-left padding-left background-fade-left">
        <h1>
          Perfection <br />
          is precise –<br />
          <strong>
            Musikelektronik <br />
            Geithein
          </strong>
        </h1>
        <p>
          For perfectionists like Thilo Baum the legendary East German
          manufacturer ME-Geithain is creating more than just speakers. They
          embody something truly magical. Incomparably in their acoustic
          authenticity. Pushing the boundaries of physics. Every speaker being
          an absolutely identical hand-made masterpiece in sound precision.This
          is what makes ME speakers the gold standard of the technically highly
          sophisticated German public television and radio landscape.
        </p>
      </div>
      <div class="right relative">
        <div class="center text-center" style="width: 100%;">
          <h3 style="text-align: center; color: lightcoral;">Image missing!</h3>
        </div>
        <img src="" alt="" />
      </div>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="columns">
      <div
        class="left text-left padding-left background-fade-left-2"
        style="width: 80%; padding-right: 40%;"
      >
        <h1>
          DEVELOPED IN <br />
          EAST GERMANY,<br />
          <strong>BUILT FOR ETERNITY</strong>
        </h1>
        <p>
          Connoisseurs call him the golden ear. Joachim Kiesler started
          developing in 1974 what speaker elitists now trade as nothing less
          than an acoustic revelation. With over half a century of experience
          the Saxony based company ME-Geithain still develops and constructs all
          of his creations modularly on-site – leading to independence from
          third parties, ensuringthat all components deliver unrivaled quality
          and will be available long-term. This uncompromising dedication to
          sustainable engineering sets international standards and makes every
          ME speaker a true investment in the future.
        </p>
      </div>
      <div class="right relative" style="z-index: -1;">
        <img
          src="assets/acoustics-2.jpg"
          #image
          scrollFx
          ratio=".3"
          class="fade-in"
          style="width: 185%; z-index: -1; margin-left: -55%; margin-top: -18%;"
        />
        <img
          scrollFx
          src="assets/icons-logos/MEG-logo.png"
          #image
          class="brand-logo fade-in delay-1"
          style="position: absolute; bottom: 4vw; left: 4vw;"
        />
      </div>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="columns">
      <div class="left relative" style="z-index: -1;">
        <img
          src="assets/KRU-BA1-Nahaufnahme.jpg"
          #image
          style="width: 180%; margin-left: -40%;"
        />

        <div class="center" style="width: 100%">
          <h3 style="text-align: center; color: lightcoral;">
            Brauche dieses Bild ohne abgeschnitten 'Halo'
          </h3>
        </div>
      </div>
      <div class="right text-left padding-right">
        <h1 scrollFx style="margin-top: 2vw;" class="fade-in">
          THE <strong>K1 LIMITED EDITION</strong><br />
          INCORPORATES A 3-WAY-<br />
          COAXIAL ME-SPEAKER TO<br />
          ACHIEVE THE HIGHEST<br />
          DEGREE OF SOUND<br />
          PRECISION POSSIBLE.
        </h1>
        <p scrollFx style="margin-bottom: 3vw;" class="fade-in delay-1">
          Unparalleled acoustic comprehension and in-depth insights on physics
          research are enabling ME-Geithain to utilize its industry leading
          inhouse developed coaxial innovation called MCDS Coax. This worldwide
          unprecedented technology achieves unparalleled homogenous and
          colouration neutral sound patterns as well as excellent spatiality and
          unrivaled sound staging.
        </p>
        <div
          class="shift-toggle"
          (click)="toggleDatasheet()"
          [class.shifted]="datasheetVisible"
        >
          <div class="circle">
            <div class="circle-inner"></div>
          </div>
          <span
            style="font-family: 'Riviera Regular', sans-serif; font-size: 2vw; text-transform: uppercase;"
          >
            Technical Datasheet <br />
            <strong>K1 Limited Edition</strong>
          </span>
        </div>
      </div>
    </div>
    <app-data-sheet [visible]="datasheetVisible"></app-data-sheet>
  </section>

  <div class="spacer"></div>

  <section class="relative" id="tailor-made">
    <div scrollFx class="section-title fade-in" style="margin-top: 12vw;">
      <h1>Tailor-made</h1>
    </div>

    <div class="left" style="width: 50%; float: left; height: 150vh;">
      <div class="relative left text-left padding-left">
        <div style="height: 100vh;"></div>
        <div scrollFx (viewportRatio)="tailorTextVRChange($event)">
          <h1 i18n>
            Your customized <br />
            <strong>Masterpiece.</strong>
          </h1>
          <p i18n>
            As a designer product the <strong>BA1</strong> can be tailored to
            meet your individual needs – perfectly adapting to the exclusive
            visual demands of your rooms or any advanced acoustic requirements
            for true one-of-a-kind experience. Naturally ME-Geithain is gladly
            taking care of professionally setting up your individual BA1
            configuration.
          </p>
        </div>
      </div>

    </div>
    <div class="sticky relative" style="z-index: -1;">
      <img
        src="assets/KRU_S1A6569-be_1.jpg"
        style="width: 100%; position: absolute; top: 0; left: 0;"
        [style.filter]="tailorImageFilter"
      />
    </div>
    <div style="height: 150vw;"></div>
  </section>

  <section id="contact" class="relative background-fade-bottom-light">
    <div scrollFx class="section-title fade-in">
      <h1>Contact</h1>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="columns">
      <div class="left">
        <div class="relative">
          <div class="center" style="width: 100%; height: 100%;">
            <h3 style="color: lightcoral; text-align: center;">
              Image missing
            </h3>
          </div>
        </div>
      </div>
      <div class="right text-left padding-right relative">
        <app-contact-form></app-contact-form>
      </div>
    </div>
    <div class="spacer"></div>
  </section>

  <section id="footer" class="relative">
    <div scrollFx class="section-title fade-in">
      <h1>Partners</h1>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="text-left padding-left padding-right">
      <h1>
        Companies <br />
        <strong>involved</strong> <br />
        in production.
      </h1>

      <div class="spacer" style="height: 4vw;"></div>
      <div class="flex-row">
        <img src="assets/icons-logos/MEG-logo.png" #image class="brand-logo" />
        <img
          src="assets/icons-logos/LIPNER_LOGO3.png"
          #image
          class="brand-logo"
        />
        <img src="assets/icons-logos/HR-Logo.svg" #image class="brand-logo" />
        <img
          src="assets/icons-logos/projektor-logo.jpg"
          #image
          class="brand-logo logo-wrap"
        />
        <img
          src="assets/icons-logos/LOGO_pechner.jpg"
          #image
          class="brand-logo logo-wrap"
        />
      </div>
      <div class="spacer" style="height: 10vw;"></div>
      <img
        src="assets/logo.JPG"
        style="height: 2.5vw; width: auto; display: inline-block;"
      />
      <span
        style="font-family: 'Riviera Regular', sans-serif; font-size: 2vw; opacity: .75; padding-left: 4vw;"
        >&reg;2019</span
      >
      <span
        style="font-family: 'Riviera Regular', sans-serif; font-size: 2vw; opacity: .75; float: right;"
      >
        <span style="color: lightcoral">was soll hier rein? -></span>
        IMPRINT
      </span>
      <div class="spacer" style="height: 2vw;"></div>
    </div>
  </section>
</div>

<app-nav></app-nav>

<app-loading-screen
  [progress]="loadingProgress"
  [complete]="imagesLoaded"
></app-loading-screen>
