<div id="nav-placeholder"></div>

<div
  id="main"
  imagesLoaded
  (progress)="imagesLoadProgress($event)"
  (complete)="imagesLoadComplete($event)"
>
  <section id="intro" section="intro">
    <div class="columns">
      <div class="left">
        <picture>
          <source media="(min-width: 2048px)" srcset="assets/intro_4k.jpg">
          <!-- <source media="(min-width: 1024px)" srcset="assets/intro_2k.jpg"> -->
          <img #image src="assets/intro_2k.jpg" />
        </picture>
      </div>
      <div class="right background-fade-right">
        <div class="text-left relative">
          <h1>
            Finally a speaker<br />
            that looks as perfect<br />
            <strong>as it sounds.</strong>
          </h1>
          <h3>
            The masterclass in <br />
            German acoustic design.
          </h3>
        </div>
      </div>
    </div>
  </section>

  <div class="spacer"></div>

  <section id="aesthetics" class="relative" section="aesthetics">
    <div class="section-title fade-in" scrollFx>
      <h1>Aesthetics</h1>
    </div>

    <div id="aesthetics-1">
      <div class="text-container relative">
        <div class="left padding-left text-right center">
          <h3>
            “I have always dreamed of a speaker that blends sensual aesthetics
            and revolutionary acoustic technology – but I simply couldn’t find
            it. So I decided to design it myself.”<br />
            — Thilo Baum
          </h3>
        </div>
      </div>
      <div class="sticky relative">
        <div class="img-container">
          <picture>
            <source media="(min-width: 2048px)" srcset="assets/aesthetics1_2k.jpg">
            <img #image src="assets/aesthetics1_1k.jpg" [style.opacity]="hideFoot ? 0 : 1"/>
            <!-- <img #image src="assets/KRU_S1A2233-be_1.jpg" [style.opacity]="hideFoot ? 0 : 1"/> -->
          </picture>
        </div>
      </div>
      <div class="sticky-placeholder"></div>
    </div>
    <div class="spacer"></div>
    <div id="aesthetics-2">
      <div class="columns">
        <div class="relative text-left padding-left">
          <h1>
            PERFECTION <br />
            IS CONSISTENT – <br />
            <strong>THILO BAUM</strong>
          </h1>
          <p>
            As a German born and raised Arts & Crafts designer Thilo Baum’s
            holistic approach already captivated the top creatives of several
            influential automotive brands like Bugatti, Mercedes-Benz or
            Porsche. His absolute focus on what is truly essential and his
            passionate vision for a better world are creating an unrivaled
            precise combination of timeless elegance and masterful craftsmanship
          </p>
        </div>
        <div style="overflow: hidden; width: 100%;">
          <picture>
            <source media="(min-width: 2048px)" srcset="assets/aesthetics2_2k.jpg">
            <img
              #image
              (scrollFx)="hideFoot = $event == 0"
              ratio=".9"
              class="fade-in"
              src="assets/aesthetics2_1k.jpg"
            />
            <div class="fade"></div>
          </picture>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div id="aesthetics-3">
      <div class="columns background-fade-bottom-light">
        <div class="left relative">
          <img src="assets/aesthetics3.png" class="center">
          <!-- <h3
            class="center padding-left"
            style="text-align: center; color: lightcoral;"
          >
            rotating pictures missing
          </h3> -->
        </div>
        <div class="top-right padding-right">
          <h1 scrollFx class="fade-in delay-1">
            <strong>K1 LIMITED EDITION</strong> –
            SOUND AND DESIGN
            MERGED IN PERFECTION.
          </h1>
        </div>
        <div class="bottom-right padding-right">
          <p scrollFx class="fade-in delay-2">
            Revolutionary acoustic technology and visionary design are blending
            inspired by the perfect elegance of nature. First-class materials
            and the uncompromising realization of every detail are making this a
            true masterpiece of German acoustic design – and the only speaker
            that utilizes an innovative process, allowing it to be made entirely
            out of exquisite wood.
            <br />
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="spacer"></div>

  <section id="acoustics" class="relative" section="acoustics">
    <div class="section-title fade-in" scrollFx>
      <h1>Acoustics</h1>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div id="acoustics-1">
      <div class="text-container">
        <div 
          class="left text-left padding-left align-bottom"
          scrollFx
          (viewportRatio)="acoustics1TextVRChange($event)"
        >
          <h1>
            Perfection <br />
            is precise –<br />
            <strong>
              Musikelektronik <br />
              Geithein
            </strong>
          </h1>
          <p>
            For perfectionists like Thilo Baum the legendary East German
            manufacturer ME-Geithain is creating more than just speakers. They
            embody something truly magical. Incomparably in their acoustic
            authenticity. Pushing the boundaries of physics. Every speaker being
            an absolutely identical hand-made masterpiece in sound precision.This
            is what makes ME speakers the gold standard of the technically highly
            sophisticated German public television and radio landscape.
          </p>
        </div>
      </div>
      <div class="right sticky relative">
        <div class="img-container">
          <img src="assets/speakerTransparent.png" [style.filter]="acoustics1ImageFilter">
        </div>
      </div>
      <div class="sticky-placeholder">

      </div>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="columns" id="acoustics-2">
      <div class="left text-left padding-left background-fade-left-2">
        <h1>
          DEVELOPED IN <br />
          EAST GERMANY,<br />
          <strong>BUILT FOR ETERNITY</strong>
        </h1>
        <p>
          Connoisseurs call him the golden ear. Joachim Kiesler started
          developing in 1974 what speaker elitists now trade as nothing less
          than an acoustic revelation. With over half a century of experience
          the Saxony based company ME-Geithain still develops and constructs all
          of his creations modularly on-site – leading to independence from
          third parties, ensuringthat all components deliver unrivaled quality
          and will be available long-term. This uncompromising dedication to
          sustainable engineering sets international standards and makes every
          ME speaker a true investment in the future.
        </p>
      </div>
      <div class="right relative">
        <picture>
          <source media="(min-width: 1024px)" srcset="assets/acoustics2_2k.jpg">
          <source media="(min-width: 2048px)" srcset="assets/acoustics2_4k.jpg">
          <img
            src="assets/acoustics2_1k.jpg"
            #image
            scrollFx
            ratio=".3"
            class="fade-in"
          />
        </picture>
        <div scrollFx class="brand-logo-container fade-in delay-1">
          <img
            src="assets/icons-logos/MEG-logo.png"
            #image
            class="brand-logo hover-fx"
          />
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div id="acoustics-3" *ngIf="isLg">
      <div class="sticky relative">
        <picture>
          <source media="(min-width: 1024px)" srcset="assets/acoustics3_2k.jpg">
          <source media="(min-width: 2048px)" srcset="assets/acoustics3_4k.jpg">
          <img 
            src="assets/acoustics3_1k.jpg"
            #image [style.transform]="acousticsImageTransform"
          />
        </picture>
      </div>
      <div class="text-container relative">
        <div 
          class="align-bottom padding-right"
          scrollFx
          (viewportRatio)="acousticsTextVRChange($event)"
        >
          <h1 style="margin-top: 2vw;">
            THE <strong>K1 LIMITED EDITION</strong>
            INCORPORATES A 3-WAY-COAXIAL ME-SPEAKER TO ACHIEVE THE HIGHEST DEGREE
            OF SOUND PRECISION POSSIBLE.
          </h1>
          <p style="margin-bottom: 3vw;">
            Unparalleled acoustic comprehension and in-depth insights on physics
            research are enabling ME-Geithain to utilize its industry leading
            inhouse developed coaxial innovation called MCDS Coax. This worldwide
            unprecedented technology achieves unparalleled homogenous and
            colouration neutral sound patterns as well as excellent spatiality and
            unrivaled sound staging.
          </p>
  
          <div
            class="shift-toggle"
            (click)="toggleDatasheet()"
            [class.shifted]="datasheetVisible"
          >
            <div class="circle">
              <div class="circle-inner"></div>
            </div>
            <span>
              Technical Datasheet <br />
              <strong>K1 Limited Edition</strong>
            </span>
          </div>
        </div>
      </div>
      <div class="sticky-placeholder"></div>
    </div>
    <div id="acoustics-3-mobile" *ngIf="isMd">
      <div class="top">
        <h1>
          THE <strong>K1 LIMITED EDITION</strong>
          INCORPORATES A 3-WAY- COAXIAL ME-SPEAKER TO ACHIEVE THE HIGHEST DEGREE
          OF SOUND PRECISION POSSIBLE.
        </h1>
      </div>
      <div class="middle">
        <img 
          src="assets/acoustics3_1k.jpg"
          #image
        />
      </div>
      <div class="bottom">
        <p style="margin-bottom: 3vw;">
          Unparalleled acoustic comprehension and in-depth insights on physics
          research are enabling ME-Geithain to utilize its industry leading
          inhouse developed coaxial innovation called MCDS Coax. This worldwide
          unprecedented technology achieves unparalleled homogenous and
          colouration neutral sound patterns as well as excellent spatiality and
          unrivaled sound staging.
        </p>

        <div
          class="shift-toggle"
          (click)="toggleDatasheet()"
          [class.shifted]="datasheetVisible"
        >
          <div class="circle">
            <div class="circle-inner"></div>
          </div>
          <span>
            Technical Datasheet <br />
            <strong>K1 Limited Edition</strong>
          </span>
        </div>
      </div>
    </div>
    <app-data-sheet [visible]="datasheetVisible"></app-data-sheet>
  </section>

  <div class="spacer"></div>

  <section class="relative" id="tailor-made" section="tailor-made">
    <div scrollFx class="section-title fade-in" style="margin-top: 12vw;">
      <h1>Tailor-made</h1>
    </div>

    <div class="text-container relative">
      <div 
        class="left padding-left text-left align-bottom" 
        scrollFx
        (viewportRatio)="tailorTextVRChange($event)"
      >
        <h1 i18n>
          Your customized <br />
          <strong>Masterpiece.</strong>
        </h1>
        <p i18n>
          As a designer product the <strong>BA1</strong> can be tailored to
          meet your individual needs – perfectly adapting to the exclusive
          visual demands of your rooms or any advanced acoustic requirements
          for true one-of-a-kind experience. Naturally ME-Geithain is gladly
          taking care of professionally setting up your individual BA1
          configuration.
        </p>
      </div>
    </div>
    <div class="sticky relative">
      <picture>
        <source media="(min-width: 1024px)" srcset="assets/tailor-made_2k.jpg">
        <source media="(min-width: 2048px)" srcset="assets/tailor-made_4k.jpg">
        <img
          src="assets/tailor-made_1k.jpg"
          [style.filter]="tailorImageFilter"
        />
      </picture>
    </div>
    <div class="sticky-placeholder"></div>
  </section>

  <section id="contact" section="contact" class="relative background-fade-bottom-light">
    <div scrollFx class="section-title fade-in">
      <h1>Contact</h1>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="columns">
      <div class="left">
        <div class="relative" style="height: 100%;">
          <img src="assets/contact.jpg" class="center">
        </div>
      </div>
      <div class="right text-left padding-right relative">
        <app-contact-form></app-contact-form>
      </div>
    </div>
    <div class="spacer"></div>
  </section>

  <section id="footer" class="relative">
    <div scrollFx class="section-title fade-in">
      <h1>Partners</h1>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="text-left padding-left padding-right">
      <h1>
        Companies <br />
        <strong>involved</strong> <br />
        in production.
      </h1>

      <div class="spacer" style="height: 4vw;"></div>
      <div class="flex-row">
        <img
          src="assets/icons-logos/MEG-logo.png"
          #image
          class="brand-logo hover-fx"
        />
        <img
          src="assets/icons-logos/LIPNER_LOGO3.png"
          #image
          class="brand-logo hover-fx"
        />
        <img
          src="assets/icons-logos/HR-Logo.svg"
          #image
          class="brand-logo hover-fx"
        />
        <img
          src="assets/icons-logos/projektor-logo.jpg"
          #image
          class="brand-logo hover-fx logo-wrap"
        />
        <img
          src="assets/icons-logos/LOGO_pechner.jpg"
          #image
          class="brand-logo hover-fx logo-wrap"
        />
      </div>
      <div class="spacer" style="height: 10vw;"></div>
      <img
        src="assets/logo.svg"
        class="footer-logo"
      />
      <span
        class="footer-span  "
        style="padding-left: 4vw;"
        >©2019</span
      >
      <span
        class="footer-span  "
        style="cursor: pointer; float: right;"
        (click)="toggleImprint()"
      >
        IMPRINT
      </span>
      <div class="spacer" style="height: 2vw;"></div>

      <app-imprint id="imprint" [visible]="showImprint"></app-imprint>
    </div>
  </section>
</div>

<app-nav></app-nav>

<!-- <app-loading-screen
  [progress]="loadingProgress"
  [complete]="imagesLoaded"
></app-loading-screen> -->
