<div class="title">
  <h1>
    Imprint
  </h1>
</div>

<div class="grid">
  <div class="left">
    <p>
      Contact <br />
      Thilo Baum <br />
      Georg-Schwarz-Str.<br />
      04177 Leipzig<br />
      info@thilobaum.design<br />
    </p>
    <p>
      Copyright <br />
      © Thilo Baum Design, 2019. <br />
      All rights reserved. All projects depicted on this website, unless
      otherwise stated, are intellectual property of Think Work Observe.
    </p>
    <p>
      Colophon<br />
      Artdirection: Henrik Rossbander<br />
      Text & Concept: Heinrich Lippner<br />
      Code: Janik Hotz<br />
      Photography: Andreas Krufczik
    </p>
  </div>
  <div class="right">
    <h3>Privacy policy</h3>
    <p class="small">
      Types of Data collected
    </p>
    <p class="small">
      Among the types of Personal Data that this Website collects, by itself or
      through third parties, there are: Cookies, Usage Data, email address,
      first name, last name and state. Complete details on each type of Personal
      Data collected are provided in the dedica-ted sections of this privacy
      policy or by specific ex-planation texts displayed prior to the Data
      collection. Personal Data may be freely provided by the User, or, in case
      of Usage Data, collected automatically when using this Website. Unless
      specified otherwise, all Data requested by this Website is mandatory and
      fai-lure to provide this Data may make it impossible for this Website to
      provide its services. In cases where this Website specifically states that
      some Data is not mandatory, Users are free not to communicate this Data
      without consequences to the availability or the functioning of the
      Service. Users who are uncertain about which Personal Data is mandatory
      are welco-me to contact the Owner. Any use of Cookies – or of other
      tracking tools – by this Website or by the ow-ners of third-party services
      used by this Website ser-ves the purpose of providing the Service required
      by the User, in addition to any other purposes described in the present
      document and in the Cookie Policy, if available. Users are responsible for
      any third-party Personal Data obtained, published or shared through this
      Website and confirm that they have the third par-ty’s consent to provide
      the Data to the Owner.
    </p>
    <p class="small">
      Methods of processing
    </p>
    <p class="small">
      The Owner takes appropriate security measures to prevent unauthorized
      access, disclosure, modificati-on, or unauthorized destruction of the
      Data. The Data processing is carried out using computers and/or IT enabled
      tools, following organizational procedures and modes strictly related to
      the purposes indicated. In addition to the Owner, in some cases, the Data
      may be accessible to certain types of persons in charge, involved with the
      operation of this Website (adminis-tration, sales, marketing, legal,
      system administrati-on) or external parties (such as third-party technical
      service providers, mail carriers, hosting providers, IT companies,
      communications agencies) appointed, if necessary, as Data Processors by
      the Owner. The up-dated list of these parties may be requested from the
      Owner at any time.
    </p>
    <p class="small">
      Legal basis of processing
    </p>
    <p class="small">
      The Owner may process Personal Data relating to Users if one of the
      following applies: Users have gi-ven their consent for one or more
      specific purposes. Note: Under some legislations the Owner may be al-lowed
      to process Personal Data until the User objects to such processing
      (“opt-out”), without having to rely on consent or any other of the
      following legal bases. This, however, does not apply, whenever the
      proces-sing of Personal Data is subject to European data pro-tection law;
      provision of Data is necessary for the per-formance of an agreement with
      the User and/or for any pre-contractual obligations thereof; processing is
      necessary for compliance with a legal obligation to which the Owner is
      subject; processing is related to a task that is carried out in the public
      interest or in the exercise of official authority vested in the Owner;
      processing is necessary for the purposes of the legi-timate interests
      pursued by the Owner or by a third party. In any case, the Owner will
      gladly help to clarify the specific legal basis that applies to the
      processing, and in particular whether the provision of Personal Data is a
      statutory or contractual requirement, or a re-quirement necessary to enter
      into a contract.
    </p>
    <p class="small">
      Place
    </p>
    <p class="small">
      The Data is processed at the Owner’s operating of-fices and in any other
      places where the parties invol-ved in the processing are located.
      Depending on the User’s location, data transfers may involve transferring
      the User’s Data to a country other than their own. To find out more about
      the place of processing of such transferred Data, Users can check the
      section cont-aining details about the processing of Personal Data. Users
      are also entitled to learn about the legal basis of Data transfers to a
      country outside the European
    </p>
  </div>
</div>
