<div class="padding-left padding-right">
  <div class="flex">
    <div class="images">
      <div class="svg-pad speaker-top">
        <app-horizontal-label label="40"></app-horizontal-label>
        <app-vertical-label label="40"></app-vertical-label>
        <app-speaker-svg-top class="svg-component"></app-speaker-svg-top>
      </div>
      <div class="svg-pad speaker-side">
        <!-- <app-horizontal-label
          class="mobile-hide"
          label="40"
        ></app-horizontal-label> -->
        <app-vertical-label
          class="mobile-hide"
          label="135"
        ></app-vertical-label>
        <app-speaker-svg-side class="svg-component"></app-speaker-svg-side>
      </div>
      <div class="svg-pad speaker-front">
        <app-horizontal-label
          class="mobile-hide"
          label="40"
        ></app-horizontal-label>
        <app-vertical-label label="135"></app-vertical-label>
        <app-speaker-svg-frontal class="svg-component">
        </app-speaker-svg-frontal>
      </div>
    </div>
    <div class="data">
      <div class="data-row">
        <div>
          <span>Construction principle</span>
        </div>
        <div>
          <span>
            3 way coaxial system with bass-reflex enclosure
          </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span> Peak sound level in the range of 100Hz—6kHz </span>
        </div>
        <div>
          <span>
            112—121 dB peak / r=1m
          </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>
            Sensitivity
          </span>
        </div>
        <div>
          <span>
            85 dB
          </span>
          <span class="text-right">
            (PASSIVE)
          </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>
            Acoustical calibration of the output level at PE = 14 dBu
          </span>
        </div>
        <div>
          <span>
            89 dB / r=1m
          </span>
          <span class="text-right">
            (ACTIVE)
          </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>
            Frequency range
          </span>
        </div>
        <div>
          <span>
            35 Hz—20 kHz ±3dB
          </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>
            Directional gain in the range of 200 Hz—10 kHz
          </span>
        </div>
        <div>
          <span>increasing from 3 to 6 dB </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>
            Total harmonic distortion measured at 96 dB / r=1m in the range of
            80Hz—10kHz
          </span>
        </div>
        <div>
          <span>
            >40 dB
          </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>Frequency separating filter / crossover frequency </span>
        </div>
        <div>
          <span>700 Hz and 3 kHz</span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>Impedance</span>
        </div>
        <div>
          <span>4&Omega;</span>
          <span class="text-right">
            (PASSIVE)
          </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>
            Input impedance
          </span>
        </div>
        <div>
          <span>
            >10 k&Omega; RC sym.
          </span>
          <span class="text-right">
            (ACTIVE)
          </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>
            Nominal input level
          </span>
        </div>
        <div>
          <span>
            +6 dB kal.
          </span>
          <span class="text-right">
            (ACTIVE)
          </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>Nom. power handling capacity</span>
        </div>
        <div>
          <span>200 Watt</span>
          <span class="text-right">
            (PASSIVE)
          </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>Nom. power handling capacity</span>
        </div>
        <div>
          <span>200 Watt</span>
          <span class="text-right">
            (PASSIVE)
          </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>Nominal output power of the amplifier</span>
        </div>
        <div>
          <span>180 Watt into 4&Omega;</span>
          <span class="text-right">
            (ACTIVE)
          </span>
          <br />
          <span>100 Watt into 4&Omega;</span>
          <span class="text-right">
            (ACTIVE)
          </span>
        </div>
      </div>
      <div class="data-row">
        <div>
          <span>Speaker assembly</span>
        </div>
        <div>
          <span>Low freq.</span>
          <span class="text-right">
            260 mm cone
          </span>
          <br />
          <span>Midrange</span>
          <span class="text-right">
            120 mm cone
          </span>
          <br />
          <span>High freq.</span>
          <span class="text-right">
            25 mm dome
          </span>
          <br />
        </div>
      </div>
      <div class="data-row">
        <div style="border: none; padding-bottom: 0;">
          <span>
            Free-field transmission curve
          </span>
        </div>
        <div style="border: none; padding-bottom: 0;"></div>
      </div>
      <app-spectral-diagram scrollFx ratio="0.8"> </app-spectral-diagram>
    </div>
  </div>
</div>
<div class="spacer"></div>
