@import "../../styles/variables.less";

:host {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: all 1s ease;
  width: 100%;
  padding-top: 14vw;
}
:host.visible {
  max-height: 150vw;
}
.flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  .images {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-top: 4vw;
    // border: 1px solid white;
  }
  .data {
    width: 70%;
  }
}

.data-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  div {
    padding-top: 1vw;
    padding-bottom: 1vw;
    flex: 1 0 calc(50% - 1vw);
    margin-right: 1vw;
    border-bottom: 1px solid white;
  }
  span {
    font-size: 2vw;
  }
}

.text-right {
  float: right;
}

.svg-pad {
  display: grid;
  grid-template-rows: 6vw 1fr;
  grid-template-columns: 1fr 7vw 2vw;
  grid-template-areas:
    "horlabel empty"
    "svg vertlabel";

  margin-bottom: 9.25vw;

  .svg-component {
    grid-area: svg;
    text-align: center;
  }

  app-horizontal-label {
    grid-area: horlabel;
  }
  app-vertical-label {
    grid-area: vertlabel;
  }
}

.speaker-front {
  grid-template-rows: 1fr 6vw;
  grid-template-columns: 1fr 7vw 2vw;
  grid-template-areas:
    "svg vertlabel"
    "horlabel empty";
}

.speaker-side {
  grid-template-rows: 1fr;
}

@media screen and (max-width: @size-md) {
  :host.visible {
    padding-top: 1rem;
    padding-bottom: 3rem;
    max-height: 160rem;
  }

  .flex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    width: 100%;
    padding-left: 0;

    .data {
      width: 100%;
      padding-top: 1rem;
    }

    .images {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 50% 50%;
      width: 100%;
      padding-top: 0;

      .speaker-top {
        grid-row: 1;
        grid-column: 2;
      }
      .speaker-side {
        grid-row: 2;
        grid-column: 1;
      }
      .speaker-front {
        grid-row: 2;
        grid-column: 2;

        grid-template-areas:
          "horlabel empty"
          "svg vertlabel";
      }
    }
  }

  .svg-pad {
    display: grid;
    grid-template-rows: 2rem 1fr;
    grid-template-columns: 1fr 2rem 0;
    padding: 0.5rem;
    margin-bottom: 0;
  }

  .data-row {
    flex-direction: column;
    div {
      padding-top: 0;
      padding-bottom: 0;
      // flex: 1 0 calc(50% - 1vw);
      margin-right: 0;
    }
    div:first-child {
      border-bottom: none;
      padding-top: 0.5rem;
    }
    div:last-child {
      padding-bottom: 0.5rem;
    }
    span {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}
